
<app-reserves-info></app-reserves-info>
<div class="overflow-x-auto xl:overflow-x-hidden rounded-xl border border-indigo-300/70">
    <table class=" min-w-[1000px] w-full bg-indigo-100/70 border-collapse">
        <thead class="bg-indigo-200/60">
            <tr>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] px-6 py-2.5">
                        ID
                    </div>
                </th>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] py-2.5">
                        USUARIO
                    </div>
                </th>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] px-6 py-2.5">
                        AUTO
                    </div>
                </th>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] px-6 py-2.5">
                        INICIO
                    </div>
                </th>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] px-6 py-2.5">
                        FIN
                    </div>
                </th>
                <th>
                    <div class="flex items-center gap-1 text-indigo-400/90 text-[14px] px-6 py-2.5">
                        TOTAL
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (item of reserves; track $index) {

                <tr
                    [routerLink]="[item.id]"
                    class="odd:bg-indigo-200/20 border border-x-0 border-gray-400/50 transition cursor-pointer hover:scale-102 hover:shadow">
                    <td class="px-6 py-2 text-gray-600">
                        <span class=" text-gray-600 text-xs">
                            {{item.id}}
                        </span>
                    </td>
                    <td class="py-2 text-gray-600 text-sm">
                        <div class="flex items-center gap-2">
                            <img [src]="'https://i.pravatar.cc/150?u='+ item.clientEmail"
                            alt="User image"
                                class="w-8 h-8 object-cover rounded-full border-2 border-indigo-400" />
                            {{item.clientName}}
                        </div>
                    </td>
                    <td class="px-6 py-2 text-gray-600">
                        <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-600/40">
                                {{item.carModel}}
                        </span>
                    </td>
                    <td class="px-6 py-2 text-gray-600">
                        <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-600/40">
                                {{item.startDate + " : " + item.startTime}}
                        </span>
                    </td>
                    <td class="px-6 py-2 text-gray-600">
                        <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-600/40">
                                {{item.endDate + " : " + item.startTime}}
                        </span>
                    </td>
                    <td class="px-6 py-2">
                        <span class="inline-flex items-center rounded-full px-2 py-1.5 text-xs font-medium text-green-600/80 bg-green-300/30">
                            <p class="text-xs">
                                {{ item.totalPrice | currency : 'COP $ ' : 'symbol' : '1.0-0' }}
                            </p>
                        </span>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>

@if (isLoading) {
    <section class="flex justify-center items-center">
            <div class="w-6 h-6 rounded-full animate-spin border-2 border-blue-400 border-l-transparent "></div>
    </section>
}