<section class="w-full flex justify-around items-center px-20 py-8 max-md:flex-col max-md:px-10 max-lg:justify-between max-xl:gap-14">
    <div class="group w-[480px] h-[280px] max-w-[50%] bg-[url('/car.jpg')] bg-cover bg-center rounded-xl cursor-pointer shadow-md max-md:max-w-[100%]">
        <div class="w-[480px] h-[280px] max-w-[100%]  bg-[#63A2D5]/20 group-hover:bg-[#63A2D5]/10 rounded-xl transition duration-400 shadow-md">

        </div>
    </div>
    <div class="flex flex-col gap-5 max-md:gap-8">
        <div class="flex flex-col gap-5 max-md:gap-8">
            <h2 class="text-3xl text-[#2D9C68] font-semibold max-[815px]:text-2xl ">Alquila un Vehiculo</h2>
            <p class="max-w-[400px] text-[18px] text-gray-600">
                ¿Buscas alquilar un auto para las próximas vacaciones o viaje de negocios?
                En <strong class="">Global Rent</strong> puedes alquilar un auto sin problemas para que puedas
                ir a tu destino inmediatamente.
            </p>
        </div>
        <div class="w-full flex justify-center">
            <button class="px-4 py-1.5 bg-[#4fb884] hover:bg-[#2d9c68]/90 flex w-fit gap-2 font-semibold text-white border border-gray-500 rounded-lg transition duration-300 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-car-icon lucide-car"><path d="M19 17h2c.6 0 1-.4 1-1v-3c0-.9-.7-1.7-1.5-1.9C18.7 10.6 16 10 16 10s-1.3-1.4-2.2-2.3c-.5-.4-1.1-.7-1.8-.7H5c-.6 0-1.1.4-1.4.9l-1.4 2.9A3.7 3.7 0 0 0 2 12v4c0 .6.4 1 1 1h2"/><circle cx="7" cy="17" r="2"/><path d="M9 17h6"/><circle cx="17" cy="17" r="2"/></svg>
                Alquilar
            </button>
        </div>
    </div>
</section>
