<section class="w-full flex px-25 py-10 gap-20 items-center">
    <div class="w-[500px] h-[300px] bg-[url('/car.jpg')] bg-cover bg-center rounded-xl">
        <div class="w-[500px] h-[300px] bg-[#63A2D5]/30 rounded-xl">

        </div>
    </div>
    <div class="flex flex-col gap-5">
        <h2 class="text-4xl text-[#2D9C68] font-semibold ">Alquila un Vehiculo</h2>
        <p class="max-w-[400px] text-[18px] text-gray-600">
            ¿Buscas alquilar un auto para las próximas vacaciones o viaje de negocios? 
            En <strong class="">Global Rent</strong> puedes alquilar un auto sin problemas para que puedas
            ir a tu destino inmediatamente.
        </p>
    </div>
</section>
