<section class="flex flex-col py-7 gap-5 shadow-sm">
    <div class="flex px-20">
        <h2 class="text-3xl font-semibold text-[#2D9C68]/80">Pricipales Marcas Disponibles</h2>
    </div>
    <div class="flex w-full justify-between items-center px-20 cursor-pointer">
        <img class="w-[90px] hover:scale-105 transition duration-300" src="/audi.svg" alt="audi">
        <img class="w-[60px] hover:scale-105 transition duration-300" src="/mercedes.svg" alt="mercedes">
        <img class="w-[70px] hover:scale-105 transition duration-300" src="/nissan.svg" alt="nissan">
        <img class="w-[60px] hover:scale-105 transition duration-300" src="/bmw.svg" alt="bmw">
        <img class="w-[70px] hover:scale-105 transition duration-300" src="/toyota.svg" alt="toyota">
        <img class="w-[90px] hover:scale-105 transition duration-300" src="/ford.svg" alt="ford">
        <img class="w-[90px] hover:scale-105 transition duration-300" src="/jeep.svg" alt="jeep">
    </div>
</section>