<section class="flex flex-col py-7 gap-5 shadow-sm">
    <div class="flex px-20 max-md:px-10">
        <h2 class="text-3xl font-semibold text-[#2D9C68]/80 max-[815px]:text-2xl">Pricipales Marcas Disponibles</h2>
    </div>
    <div class="w-full flex flex-wrap justify-between items-center px-20 cursor-pointer max-md:px-10 max-[900px]:gap-8 max-[900px]:justify-center">
        <img class="w-[85px] hover:scale-105 transition duration-300" src="/audi.svg" alt="audi">
        <img class="w-[55px] hover:scale-105 transition duration-300" src="/mercedes.svg" alt="mercedes">
        <img class="w-[65px] hover:scale-105 transition duration-300" src="/nissan.svg" alt="nissan">
        <img class="w-[55px] hover:scale-105 transition duration-300" src="/bmw.svg" alt="bmw">
        <img class="w-[65px] hover:scale-105 transition duration-300" src="/toyota.svg" alt="toyota">
        <img class="w-[85px] hover:scale-105 transition duration-300" src="/ford.svg" alt="ford">
        <img class="w-[85px] hover:scale-105 transition duration-300" src="/jeep.svg" alt="jeep">
    </div>
</section>